* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;


  background-image: url("../img/mountains-pessoa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
overflow: hidden;

}

nav {

  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding: 4rem 7.2rem;
}

nav a {

  text-decoration: none;
  color: #C4C4CC;
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.2rem;

}
nav a:focus,
nav a:hover {
  color: #ffffff;

}

main {

  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;


}

h1 {
  color: #E1E1E6;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 125%;
}

button {
  padding: 1.2rem 3.2rem;
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #02799D;
  transition: .3s;
}
button a:hover{
  color: #02799D;
  font-size: bold;
  font-style: 700;

}
button a {
  text-decoration: none;
  color: #C4C4CC;
}

@media (max-width: 1000px){
nav {

  display: flex;
  align-items: center;
  gap: 2.6rem;
 
}

}

@media (max-width: 768px){
  nav {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 4rem 2.2rem;
  }
  main {
    margin-top: 1rem;

  }
  
  }